.combobox {
  position: relative;
}

.options {
  background-color: var(--color-background);
  border: var(--border-width) solid var(--color-surface);
  border-radius: var(--border-radius);
  list-style: none;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 100;
}

.option {
  padding: 0.75rem;
}

.option:hover {
  background-color: var(--color-surface);
  cursor: pointer;
}

label > .combobox {
  margin-top: 0.5rem;
}