.backdrop {
  animation: fade-in 240ms ease-out;
  background-color: var(--color-dialog-backdrop);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.dialogContent {
  animation: fade-in 240ms ease-out;
  background-color: var(--color-background);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}