.button {
    background-color: #fff0;
    border: none;
    border-radius: var(--border-radius);
    color: var(--color-on-primary);
    cursor: pointer;
    font-size: 1rem;
    padding: 0.75rem;
    position: relative;
    z-index: 1;
}

.button:before {
    background-color: var(--color-primary);
    border-radius: inherit;
    content: "";
    display: flex;
    height: 100%;
    left: 0;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: opacity var(--animation-duration) ease-out;
    width: 100%;
    z-index: -1;
}

.button:hover:before {
    opacity: 0.95;
}

.button:active:before {
    opacity: 1;
}

.button:disabled:before {
    opacity: 0.8;
}

.buttonOutlined {
    background: transparent;
    border: 2px solid currentColor;
    color: var(--color-foreground);
}

.buttonOutlined:before {
    background-color: var(--color-inactive);
    opacity: 0;
}

.buttonOutlined:hover:before {
    opacity: 0.11;
}

.buttonOutlined:active:before {
    opacity: 0.22;
}

.buttonOutlined:disabled {
    color: var(--color-disabled);
}

.buttonOutlined:disabled:before {
    opacity: 0;
}
