:root {
    --border-radius: 0.5rem;
    --border-width: 2px;

    --color-foreground: #222;
    --color-primary: #7193ca;
    --color-on-primary: #fff;
    --color-surface: #F8F9FA;
    --color-inactive: #89959F;
    --color-disabled: #89959f;

    --animation-duration: 240ms;
}

html[data-theme="dark"] {
    --color-foreground: #DDD;
    --color-primary: #DDD;
    --color-on-primary: #222;
    --color-surface: #252525;
}

* {
    box-sizing: border-box;
}

*:disabled, button:disabled {
    cursor: not-allowed;
}

body {
    color: var(--color-foreground);
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

body, button {
    font-weight: 500;
}

